.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    position: relative;
    animation-name: animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
    /* ease-in :- slow starting
       ease-out :- slow ending
       ease-in-out :- slow start and end */
}
@keyframes animation{
    0%{
        
    }
    25%{
        top: 0px;
        left: 300px;
        background-color: aqua;
    }
    50%{
        top: 300px;
        left: 300px;
        background-color: antiquewhite;
    }
    75%{
        top: 300px;
        left: 0px;
        background-color: lightcoral;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
}