*,*::before,*::after{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 10px auto;
}
.image{
    /* border: 2px solid red; */
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.image-content{
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
a{
    color: rgb(177, 35, 35);
    text-decoration: none;
    font-size: medium;
    border: 2px solid white;
    background-color: aquamarine;
    padding: 2px 1.5px;
    margin-top:5px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
a:hover{
    background-color: aqua;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.479);
}
.image::after{
    content: '';
    /* border: 2px solid rebeccapurple; */
    display: block;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.image:hover .image-content{
    opacity: 1;
    left: 50%;
}
.image:hover::after{
    opacity: 1;
}