h1{
    /* font-size: 16px; */
    font-size: 96px;


    /* 1 inch ==96px */
    font-size: 1in;

    /* 1in ==2.54xm */
    font-size: 2.54cm;

    /* 0.75pt ==1px */
    /* 16px == 0.75 * 16 (12) */
    font-size: 12pt;
    border: 12pt ridge red;
}