.box-1{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    animation-name: bg-color;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    /* animation-direction: reverse; */
}
@keyframes bg-color{
    from{
        background-color: blanchedalmond;
    }
    to{
        background-color: rosybrown;
    }
}

.box-2{
    width: 30px;
    height: 2px;
    background-color: brown;
    animation-name: width-grow;
    animation-duration: 5s;
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    animation-direction: reverse;
}
@keyframes width-grow{
    from{
        width: 0px;
    }
    to{
        width: 1300px;
    }
}