*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    background-color: rebeccapurple;
    text-align: center;
    margin-bottom: 15px;
    width: 500px;
    font-weight: 700;
}
a{
    background-color: red;
    display: inline-block;
    width: 500px;
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
}