header {
  background: bisque;
}
.hello {
  background: bisque;
}
/* *{
    color: black;
} */
p {
  color: brown;
}
/* ul{
    color: chartreuse;
} */
header p {
  color: cyan;
}
li a {
  color: darkgrey;
}
section {
  color: darkslateblue;
}
/* h2+p{
    color: dodgerblue;
} */
/* section >h2{
    color: greenyellow;
} */
section h2 + p {
  color: rgb(83, 190, 33);
}
