.box{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: aquamarine;
    margin: 20% auto;
    /* transform:rotate(90deg) ; */
    transform-origin: top left;
    transition: transform 1s ease-in-out;
}
.box:hover{
    transform: rotate(360deg);
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2); */
    /* transform: scale(2,3); */
    /* transform: skewX(90deg); */
    /* transform: skewY(90deg); */
    /* transform: skew(90deg); */
    /* transform: skew(90deg,180deg); */
    /* transform: translateX(100px); */
    /* transform: translateY(100px); */
    /* transform: translate(100px,100px); */
}