* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

.hamburger li {
  list-style: none;
  margin-bottom: 15px;
}

.hamburger input[type="checkbox"]:checked ~ .menu-items {
  display: block;
}

.hamburger {
  /* border: 2px solid red; */
  position: relative;
  max-width: 300px;
  width: 90%;
  /* padding: 5px; */
}
.hamburger input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 39px;
  height: 32px;
  z-index: 2;
  opacity: 0;
}
.hamburger .menu-items {
  padding-top: 55px;
  transform: translateX(-120%);
  transition: all 0.5s ease-in-out;
  /* border: 2px solid red; */
  margin-top: -5px;
  margin-left: -5px;
  margin-bottom: -3px;
  background-color: aqua;
  color: aliceblue;
  padding-left: 5px;
}

.hamburger input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0%);
  background-color: burlywood;
}
.hamburger-lines {
  position: absolute;
  width: 39px;
  height: 32px;
  /* background-color: rgb(194, 41, 41); */
  top: 8.5px;
  left: 3px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line {
  display: block;
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  background-color: rgb(26, 24, 27);
}

.hamburger .hamburger-lines .line-1 {
  transform-origin: 0% 0%;
}
.hamburger .hamburger-lines .line-3 {
  transform-origin: 0% 100%;
}

.hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line-1 {
  transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line-2 {
  /* transform: rotate(45deg); */
  display: none;
}
.hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line-3 {
  transform: rotate(-45deg);
}
