body {
  font-family: "Comforter", cursive;
  font-family: "Poppins", sans-serif;
}
h1{
    background-color:lightgray;
    width:1100px;
    margin:20px auto;
    text-align: center;
    padding:10px;
}
.div_one{
    border: 1px solid black;
    padding:10px;
    margin: 20px auto;
    width: 1100px;
}
.div_two{
        border: 1px solid black;
        padding:10px;
        margin: 20px auto;
        width: 1100px;
}