* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.box-main {
  font-size: 7rem;
  border: 4px solid red;
  display: flex;
  /* height: 500px; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  max-width: 1200px;
}
.box {
  border: 2px solid gray;
  text-align: center;
  /* width: 500px; */
  /* flex-basis: 500px; */
  /* flex-basis is the initial length that is starting from the main axis and it is not same as width*/
  /* width: 300px; */
  width: 600px;
}
.box h1 {
  text-decoration: underline;
  /* flex: 1 1 400px; */
  /* flex: flex-grow flex-shrink flex-basis */
}
.box-1 {
  background-color: blanchedalmond;
  /* flex-grow: 2; */
  flex-shrink: 1;
}
.box-2 {
  background-color: blueviolet;
  /* flex-grow: 1; */
  flex-shrink: 2;
}
.box-3 {
  background-color: beige;
  /* flex-grow: 1; */
  flex-shrink: 3;
}
.box-4 {
  background-color: chartreuse;
}
.box-5 {
  background-color: cornsilk;
}
