* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.box-main {
  font-size: 7rem;
  border: 4px solid red;
  display: flex;
  height: 500px;
  align-items: center;
}
.box {
  border: 2px solid gray;
  text-align: center;
}
.box h1 {
  text-decoration: underline;
}
.box-1 {
  background-color: blanchedalmond;
  align-self: flex-start;
  order: 4;
}
.box-2 {
  background-color: blueviolet;
  align-self: center;
  order: 3;
}
.box-3 {
  background-color: beige;
  align-self: flex-end;
  /* position: relative;
    bottom: 2%; */
  order: 2;
}
.box-4 {
  background-color: chartreuse;
  align-self: center;
  order: 1;
}
.box-5 {
  background-color: cornsilk;
  align-self: flex-start;
  order: 0;
}
