.ble-1 {
  border: 1px solid black;
  width: 500px;
  height: 70px;
  margin: 20px;
  /* padding: 20px; */
  display: inline;
}
.ble-2 {
  border: 1px solid black;
  width: 500px;
  height: 70px;
  margin: 20px;
  /* padding: 20px; */
  display: inline;
}
.ile-1 {
  border: 1px solid black;
  width: 500px;
  height: 70px;
  margin: 20px;
  padding: 40px;
  display: block;
}
.ile-2 {
  border: 1px solid black;
  width: 500px;
  height: 70px;
  margin: 20px;
  padding: 40px;
  display: block;
}
