* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
  }
  ul li {
    list-style: none;
  }
  a {
    font-size: 1.6rem;
    text-decoration: none;
  }
  p,li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
  }
  /* h1,h2,h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
  } */
  /* nav div {
    clear: both;
  } */
  .header {
    height: 100vh;
    /* position: relative; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/header-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    max-width: 1260px;
    width: 95%;
    margin: 0.2rem auto;
  }
  .navbar{
      /* border: 2px solid white; */
      padding: 1rem ;
  }
  .header .logo,
  .header .navbar a
  {
      color: white;
  }
  .header.navbar .logo- {
    float: left;
    font-size: 3.5rem;
  }
  .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
  }
  .btn-primary {
    background-color: #fff;
    border-radius: 10em;
  }
  .lg-heading {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .md-heading {
    font-size: 2.2rem;
    font-size: 500px;
  }
  .text-red {
    color: #e63946;
  }
  .text-light {
    color: #f4f4f4;
  }
  .text-black {
    color: #333333;
  }
  .text-gray {
    color: #555555;
  }
  
  .header .navbar .nav-items 
  {
    float: right;
    margin-top: 1rem;
    display: inline-block;
  }
  .header .navbar .nav-item {
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
  }
  .navbar a:link,
  .navbar a:visited {
    color: #f4f4f4;
  }
  .navbar a {
    padding-bottom: 0.3rem;
  }
  .nav-items a:hover {
    border-bottom: 1px solid #fff;
  }
  .navbar::after {
    content: "";
    display: block;
    clear: both;
  }
  .header-content {
    padding-top: 20rem;  
    /* position: absolute; */
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.2) rgba(0, 0, 0.2));
  }
  .header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
  }
  .header-content p {
      padding-bottom: 0.5rem;
      text-transform: uppercase;
  }