* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  line-height: 1.7;
}
ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}
/* nav div {
  clear: both;
} */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Images/pexels-errin-casano-2356045.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  max-width: 1000px;
  width: 95%;
  margin: 0.2rem auto;
  /* border: 5px ridge whitesmoke; */
}
.navbar {
  /* border: 2px solid white; */
  padding: 1rem;
}
.header .logo,
.header .navbar a {
  color: white;
}

.navbar .logo {
  float: left;
  font-size: 3.5rem;
}
.navbar .nav-items {
  float: right;
  margin-top: 1rem;
}
.navbar .nav-item {
  display: inline-block;
  padding: 1rem;
}
.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}
.large-heading {
  font-size: 3.5rem;
  font-weight: 700;
}
.medium-heading {
  font: size 2.2rem;
  font-weight: 500px;
}
.text-red {
  color: #e63946;
}
.text-light {
  color: #f4f4f4;
}
.text-gray {
  color: #555555;
}
.text-black {
  color: #333333;
}
.navbar::after {
  content: "";
  display: block;
  clear: both;
}
.nav-items a:hover {
  border-bottom: 1px ridge whitesmoke;
}
.navbar a {
  padding-bottom: 0.3rem;
}

.Button-1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.Button-2 {
  background-color: #fff;
  border-radius: 10em;
}
.header-content {
  position: absolute;
  text-align: center;
  /* border: 2px solid white; */
  /* border-width: 900px; */
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
}
.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header-content p {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.header-content a {
  margin-right: 33px;
}

.showcase {
  background: #dddddd;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.row {
  height: 350px;
  /* border: 2px ridge aquamarine; */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
}

.row1,
.row2 {
  margin-bottom: 10rem;
}
.row1 .image,
.row2 .text,
.row3 .image {
  float: left;
  width: 50%;
  height: 100%;
  /* border: 2px ridge #333333; */
}
.row1 .text,
.row2 .image,
.row3 .text {
  float: right;
  width: 50%;
  height: 100%;
  /* border: 2px ridge #e63946; */
}
.row .text {
  padding: 3rem;
  background: whitesmoke;
  font-family: "Lora", serif;
}
.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature {
  padding-bottom: 10rem;
  /* margin-bottom: 10rem; */
}

.showcase .row a {
  border: 2px solid #e63946;
  border-radius: 2.4rem;
  position: relative;
  bottom: 1.6%;
  right: 0.7%;
}
.showcase .row a:hover {
  background-color: #dddddd;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.feature .container {
  padding-top: 10rem;
  height: 350px;
  /* border: 2px solid red; */
  font-family: "Lora", serif;
}
.feature .container .box {
  padding: 1.5rem;
}
.box {
  text-align: center;
}
.box-1 {
  float: left;
  width: 33.3333%;
  /* border: 2px solid red; */
  height: 100%;
}
.box-2 {
  float: left;
  width: 33.3333%;
  /* border: 2px solid red; */
  height: 100%;
}
.box-3 {
  float: left;
  width: 33.3333%;
  /* border: 2px solid red; */
  height: 100%;
}
.box-1,
.box-3 {
  background-color: #263238;
  color: azure;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
}
.box-2 {
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  color: azure;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
}
i {
  text-align: center;
}

.footer {
  background-color: #263238;
  color: azure;
  padding: 2rem;
  text-align: center;
}

.footer .social i {
 margin: 1rem;
}
#about-us {
  background-color: #263238;
  color: #dddddd;
}
.main {
  padding-top: 2.5rem;
  font-family: "Lora", serif;
  padding-bottom: 3rem;
  height: 30rem;
  /* padding-bottom: 20rem; */
}
.main .container h2 {
  border-bottom: 4px solid #e63946;
}

.block {
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  /* border: 2px solid red; */
  text-align: center;
  font-family: "Lora", serif;
}
.block::after {
  content: "";
  display: block;
  clear: both;
}

.block-1 {
  float: left;
  /* border: 2px solid red; */
  width: 50%;
}
.block-2 {
  float: right;
  /* border: 2px solid red; */
  width: 50%;
}
.block li::before {
  content: "\2713";
  padding-right: 0.2rem;
  font-weight: 700;
  color: #e63946;
}
.numbers {
  /* border: 2px solid red; */
  font-family: "Lora", serif;
}
.numbers::after {
  content: "";
  display: block;
  clear: both;
}
.numbers-1 {
  padding-top: 3.5rem;
  float: left;
  width: 25%;
  text-align: center;
}
.numbers span {
  color: #e63946;
}
.numbers p {
  color: #555555;
}

.banner {
  border: 2px solid red;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* height: 6.2rem; */
  /* margin: auto; */
  color: #f4f4f4;
  padding: 1rem;
  font-weight: 700;
  font-family: "Lora", serif;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
  margin-top: 4rem;
}
.banner-content {
  float: left;
  width: 73%;
  /* text-align: center; */
  /* margin: 0 auto; */
}
.banner-button {
  float: right;
  width: 27%;
}
.line {
  /* text-align: center; */
  margin: 0 auto;
  padding-top: 1%;
}
.banner-button a {
  display: inline-block;
  border: 4px solid white;
  padding: 0.3rem 2.5rem;
  letter-spacing: 1rem;
  color: #fff;
}
.banner::after {
  content: "";
  display: block;
  clear: both;
}

.contact-us {
padding: 3rem 0;
}
.contact-us::after{
  content: '';
  display: block;
  clear: both;
}
.main {
  /* border: 1px solid red; */
}
.form-address {
  /* border: 1px solid red; */
  float: left;
  width: 49%;
  background-color: whitesmoke;
  /* height: 100%; */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
}
.main::after {
  content: "";
  display: block;
  clear: both;
}
.form {
  /* border: 1px solid RED; */
  float: right;
  width: 49%;
}

.address p,
.address i {
  display: inline;
  /* color: #e63946; */
  text-transform: uppercase;
}

.address p {
  padding-left: 1rem;
}
.address .non {
  padding: 0%;
}
.address i,
.address .non {
  padding-left: 1rem;
}

.form-address img {
  width: 95%;
  object-fit: cover;
  object-position: center;
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  /* padding-right: 2.5rem; */
}

.contact-us .form {
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
  /* height: 70rem; */
}

.contact-us .form,.contact-us .form-address{
  height: 61rem;
}
.contact-us .form h1 {
  border-bottom: 3px solid #e63946;
}

.details {
  font-size: 20px;
  padding-bottom: 0.75rem;
}
.details label {
  display: block;
}
.details label::after {
  content: "*";
  color: #e63946;
}
.details input {
  padding: 0.7rem;
  width: 100%;
}
.contact-us .form {
  padding: 1rem;
}
.contact-us .submit-button {
  display: inline;
  width: auto;
  padding: 0.5rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #e63946;
  outline: none;
}

@media (min-width:430px) and (max-width:500px){
  .navbar .nav-items,
  .navbar .logo{
    float: none;
    display: block;
    text-align: center;
  }
  .header-content h1{
    display: none;
  }
  .header-content a{
    text-align: center;
    margin-left: 8%;
  }
  .row{
    height: auto;
    width: 100%;
    box-shadow: none;
  }
  .row .image, 
 .showcase .row .text {
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* padding: 0%; */
    /* margin: 0; */
    /* box-shadow: none; */
  }
  .showcase .row1,.showcase .row2,.showcase .row3{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
  }

  .feature .box{
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* display: block; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);

  }
  .feature .box-2,.feature .box-3{
    margin-top: 2rem;
  }
  .home-foot {
    margin-top: 110%;
  }
  .about-foot{
    margin-top: 40%;
  }
  .banner,.banner-button,.banner-content{
    float: none;
    width: 100%;
    text-align: center;
  }
  /* .main{
    padding-top: 44%;
  } */
  .form-address{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 3rem;
  }
  .form{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
  }

}
@media (min-width:501px) and (max-width:768px){
  .navbar .nav-items,
  .navbar .logo{
    float: none;
    display: block;
    text-align: center;
  }
  p{
    font-size: 1.8rem;
  }
  .header-content a{
    text-align: center;
    margin-left: 8%;
  }
  .row{
    height: auto;
    width: 100%;
    box-shadow: none;
  }
  .row .image, 
 .showcase .row .text {
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* padding: 0%; */
    /* margin: 0; */
    /* box-shadow: none; */
  }
  .showcase .row1,.showcase .row2,.showcase .row3{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
  }

  .feature .box{
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* display: block; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);

  }
  .feature .box-2,.feature .box-3{
    margin-top: 2rem;
  }
  .home-foot {
    margin-top: 110%;
  }
  .about-foot{
    margin-top: 40%;
  }
  .banner,.banner-button,.banner-content{
    float: none;
    width: 100%;
    text-align: center;
  }
  /* .main{
    padding-top: 44%;
  } */
  .form-address{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 3rem;
  }
  .form{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
  }
}
@media (min-width:768px) and (max-width:1200px){
  .navbar .nav-items,
  .navbar .logo{
    float: none;
    display: block;
    text-align: center;
  }

  .header-content a{
    text-align: center;
    margin-left: 8%;
  }
  .row{
    height: auto;
    width: 100%;
    box-shadow: none;
  }
  .row .image, 
 .showcase .row .text {
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* padding: 0%; */
    /* margin: 0; */
    /* box-shadow: none; */
  }
  .showcase .row1,.showcase .row2,.showcase .row3{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
  }

  .feature .box{
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* display: block; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);

  }
  .feature .box-2,.feature .box-3{
    margin-top: 2rem;
  }
  .home-foot {
    margin-top: 60%;
  }
  .about-foot{
    margin-top: 20%;
  }
  .banner,.banner-button,.banner-content{
    float: none;
    width: 100%;
    text-align: center;
  }
  /* .main{
    padding-top: 44%;
  } */
  .form-address{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 3rem;
  }
  .form{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
  }

}

@media (min-width:300px) and (max-width:420px){
  .navbar .nav-items,
  .navbar .logo{
    float: none;
    display: block;
    text-align: center;
  }
  .header-content h1{
    display: none;
  }
  .header-content a{
    text-align: center;
    margin-left: 8%;
  }
  .row{
    height: auto;
    width: 100%;
    box-shadow: none;
  }
  .row .image, 
 .showcase .row .text {
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* padding: 0%; */
    /* margin: 0; */
    /* box-shadow: none; */
  }
  .showcase .row1,.showcase .row2,.showcase .row3{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
  }

  .feature .box{
    float: none;
    width: 100%;
    text-align: center;
    /* height: auto; */
    /* display: block; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);

  }
  .feature .box-2,.feature .box-3{
    margin-top: 2rem;
  }
  .home-foot {
    display: none;
  }
  .about-foot{
    display: none;
  }
  .contact-foot{
    display: none;
  }
  
  .banner,.banner-button,.banner-content{
    float: none;
    width: 100%;
    text-align: center;
  }
  /* .main{
    padding-top: 44%;
  } */
  .form-address{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 3rem;
  }
  .form{
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
  }

}
@media (orientation:landscape) and (max-height:500px){
    .header-content h1{
      display: none;
  }
  .header{
    height: 75vmax;

  }
}